# MATLAB
*.asv
*.m~
*.autosave
*.p
*.mex*
.matlab
slprj/

# LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.run.xml
*.synctex(busy)
*.bcf

# Data
data/raw/

# Sensors/Loggers
sensors/data/
sensors/*.png
sensors/*.xls
sensors/*.xlsx

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
