# MATLAB
*.asv
*.m~
*.autosave
*.p
*.mex*
.matlab
slprj/

# LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.run.xml
*.synctex(busy)

# Data
data/raw/

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
